language: bash
before_install:
  - sudo ./install.sh all
  - sudo add-apt-repository ppa:duggan/bats --yes
  - sudo apt-get update -qq
  - sudo apt-get install -qq bats
  - sudo apt-get install -qq vlc
  - sudo apt-get install -qq openssl
script:
- bats tests
